# Backend
/backend/node_modules
/backend/dist
/backend/.env


# Frontend
/frontend/node_modules
/frontend/build
/frontend/.env

.vscode
.idea
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*